/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: #FFFFFF;
	font-family: 'Lato', sans-serif;
	height: 100%;
	padding: 0px;
	width: 100%;
	background-image: url(../img/purty_wood.png);
	background-repeat: repeat;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

/* Portrait layout (default) */
.app {
	background: url(../img/logo.png) no-repeat center top;
	position: absolute;             /* position in the center of the screen */
	left: 50%;
	top: 35%;
	height: 50px;                   /* text area height */
	width: 225px;                   /* text area width */
	text-align: center;     /* image height is 200px (bottom 20px are overlapped with text) */
	margin: -115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 120px;                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
	background-position: left center;  /* padding-top + padding-bottom + text area = image height */
	margin: -90px 0px 0px -198px;  /* offset vertical: half of image height */
	padding-bottom: 75px;
	padding-left: 170px;
	padding-right: 0px;
	padding-top: 40px;
	                                   /* offset horizontal: half of image width and text area width */
    }
	
	
	.side-switch {
	margin-left: -150px;
	width: 140px;
	padding-top: 60px;
	margin-bottom: -120px;
	}
	
	
}

h1 {
    font-size:24px;
    font-weight:900;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
	color:#900;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.user-area {
	width: 100%;
}

.button {
	border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #FFFFFF;
	font-size: 16px;
	margin: 0px 30px;
	background-color: #900;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 8px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 8px;
}

.button:active {
	background-color:#03C;
}
.button:hover, .button:focus {
	background-color:#333;
}


a {
 text-decoration:none;	
}

.text-on-left {
	text-align: left;
}

.just-link {
	background-color:transparent;
	border-color: transparent;
	color:#03C;
	font-size:16px;	
	padding-bottom: 10px;
	text-align:center;
}
